*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: work sans;
}

html,body{
    width: 100%;
    height: 100%;
}

#parent{
    height: 30%;
    width: 30vw;
    background-color: cyan;
}

#child{
    height: 50%;
    width: 50%;
    background-color: salmon;
}

h1{
    font-size: 10vmax;
}

#vmin{
    font-size: 10vmin;
}