*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

head,body{
    width: 100%;
    height: 100%;
}

#test{
    width: 450px;
    min-width: 200px; /* minimum limit is this */
    max-width: 500px; /* this is final width this not bound that width */
    
    height: 105px;
    min-height: 100px;
    max-height: 200px;
    background-color: red;
}