*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,body{
    height: 100%;
    width: 100%;
}

#pixcel{
    height: 300px;
    width: 200px;
    background-color: aqua;
}

#persentage{
    height: 50%;
    width: 50%;
    background-color: crimson;
}

.vw{
    height: 100vh;
    width: 100vw;
    background-color: green;
}

#em{
    font-size: 50px;
    height: 2em;
    width: 2em;
    background-color: darkcyan;
}

/* it not taking the value current size */
#rem{
    font-size: 50px;
    height: 2rem;
    width: 2rem;
    background-color: darksalmon;
}

#max{
    height: 300px;
    width: 400px;
    max-width: 500px;
    max-height: 400px;
    background-color: rebeccapurple;
}

#min{
    height: 300px;
    width: 600px;
    min-height: 100px;
    min-width: 200px;
    background-color: darkturquoise;
}

#min_max{
    height: 400px;
    width: 200px;
    min-width: 100px;
    min-height: 200px;
    max-width: 600px;
    max-height: 500px;
    background-color: dodgerblue;
}
