*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Gilory';
}

html,body{
    width: 100%;
    height: 100%;
}

#main{
    height: 100%;
    width: 100%;
    background-color: lightblue;
    /* display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly; */

    /* Grid */
    display: grid;
}

.elem{
    /* width: 200px;
    height: 200px; */
    background-color: crimson;
    border: 3px solid black;
}