*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: work sans;
}

html,body{
    width: 100%;
    height: 100%;
}

h1{
    font-size: 100px;
    color: red;
}

h1::after{
    content: " and Dostniyo!";
    color: pink;
    font-size: 50px;
}

h1::before{
    content: "hihihi";
    color: yellow;
    font-size: 40px;
}
