#Add_Bag{
    background-color: lightgreen; 
    border: none;
    border-radius: 10px;
    padding: 5px 15px;
    
}
#WishList{
    border: 2px solid black;
    border-radius: 10px;
    padding: 5px 30px;
}