*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: work sans;
}

html,body{
    width: 100%;
    height: 100%;
}

body{
    background-color: black;
    padding: 5vw
}

button{
    padding: 10px 20px;
    background-color: transparent;
    border: 2px solid cyan;
    color: cyan;
    font-weight: 600;
    position: relative;
}

button::after{
    content: "";
    height: 100%;
    /* width will be 0 */
    width: 0%;
    background-color: red;
    position: absolute;
    left: 0;
    top: 0;
}

button:hover{
    background-color: cyan;
}
